/* Write style sheet here */
/* Write style code here*/
#main{
    width: 70vw;
    margin: auto;
    margin-top: 30px;
}
label{
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 5px;
}
label:nth-of-type(2){
    margin-left: 20rem;
}
#add_icon{
    width: 1000px;
}
span:nth-of-type(1){
    margin-left: 5%;
}
span{
    margin-left: 12%;
    font-weight: bold;
}